h1.news-header {
  margin: 15px;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
}

h2.news-subheader {
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
}

p.news-paragraph {
  margin: 15px;
  text-align: justify;
  text-justify: newspaper;
  font-size: 16px;
}
